@import url(https://fonts.bunny.net/css?family=inter:300,400,500,600,700,700i);
@import "tailwindcss";


html {
  font-family: 'Inter', ui-sans-serif, system-ui;
}

@keyframes hero-fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-hero-fade-in {
  animation: hero-fade-in 0.6s ease-out forwards;
}